.root {
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.root:hover {
    background-color: var(--secondary-color);
}

.root:hover:active {
    background-color: var(--primary-color);
}

.root:not(.selected) {
    cursor: pointer;
}

.root.selected {
    background-color: var(--primary-color);
}

.field {
    flex: 1;
    user-select: none;
}