.root {
    display: flex;
    align-items: center;
    height: 3em;
    flex: 1;
    background-color: white;
    border-radius: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.root:hover {
    background-color: lightblue;
}

.root:hover:active {
    background-color: white;
    filter: invert(100%);
}

.root:not(.selected) {
    cursor: pointer;
}

.root.selected {
    background-color: white;
    filter: invert(100%);
}

.field {
    flex: 1;
    user-select: none;
}