.root {
    display: flex;
    flex: 1;
}

.root.horizontal {
    flex-direction: column;
}

.root.vertical {
    flex-direction: row;
}

.pane {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
}

.divider {
    background-color: rgb(0, 0, 0, 0.5);
    user-select: none;
}

.divider:not(.visible) {
    display: none;
}

.divider.vertical {
    border-left: 1px solid rgb(255, 255, 255, 0.5);
    border-right: 1px solid rgb(255, 255, 255, 0.5);
    width: 5px;
    cursor: col-resize;
}

.divider.horizontal {
    height: 5px;
    cursor: row-resize;
    border-top: 1px solid rgb(255, 255, 255, 0.5);
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
}

.divider.dragging {
    position: relative;
    opacity: 0.5;
}