.root {
    display: flex;
}

.root.multiLine {
    flex: 1;
}

.textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 16px;
    resize: none;
}

.input {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 16px;
}