.root {
    display: none;
    align-items: center;
    width: 100%;
    height: 36px;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--heading-color);
}

.root.visible {
    display: flex;
    align-items: stretch;
}

.root.vertical {
    flex-direction: column;
    align-items: initial;
    width: 100px;
    height: max-content;
}

.root.popup {
    position: fixed;
    border: 1px solid var(--border-color);
}