.root {
    display: flex;
}

.modal {
    position: absolute;
    z-index: 1000;
}

.popup {
    display: flex;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 0.25em;
    padding: 0.5em;
    user-select: none;
    transition: opacity 0.5s;
    opacity: 0;
    pointer-events: none;
    border: 1px solid lightgray;
}

.popup.visible {
    opacity: 1;
    pointer-events: all;
}