.root {
    display: flex;
}

.modal {
    position: absolute;
}

.popup {
    display: flex;
    border: 1px solid rgb(0, 0, 0, .5);
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 0.25em;
    padding: 0.5em;
    margin-top: 0.5em;
    transform: translateX(-50%);
    transform-origin: bottom;
    user-select: none;
    transition: opacity 0.5s;
    opacity: 0;
    pointer-events: none;
}

.popup.visible {
    opacity: 1;
    pointer-events: all;
}