.root {
    display: flex;
    align-items: center;
}

.root:hover:not(.selected) {
    color: var(--hover-text);
    background-color: var(--hover-background);
}

.root:not(.selected) {
    cursor: pointer;
}

.root.selected {
    background-color: var(--selected-background);
    color: var(--selected-text);
}