.root {
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom: 2px solid transparent;
}

.root:hover:not(.selected) {
    background-color: var(--hover-background);
    border-bottom: 2px solid var(--hover-color);
}

.root:not(.selected) {
    cursor: pointer;
}

.root.selected {
    background-color: var(--primary-color);
}