.root {
    background: rgb(36, 159, 224);
    background: linear-gradient(90deg, rgba(36, 159, 224, 1) 42%, rgba(81, 141, 210, 1) 72%);
    padding-top: 0.5em;
    padding-left: 0.5em;
}

.bar {
    margin-right: 1em;
}