.root {
    overflow: hidden;
    flex-basis: 20px;
    transition: flex-basis 0.25s, opacity 0.25s;
    opacity: 1;
}

.pane {
    background-color: var(--heading-color);
}

.divider {
    background-color: var(--border-color);
}