.root {
    overflow: hidden;
    flex-basis: 20px;
    transition: flex-basis 0.25s, opacity 0.25s;
    opacity: 1;
}

.pane {
    background-color: lightgray;
    margin: 0.5em;
    border-radius: 0.5em;
}

.list {
    margin-top: 3em;
}

.divider {
    opacity: 0;
    transition: opacity 0s linear 0.25s;
    background-color: transparent;
}