.root {
    background-color: lightgray;
    margin: 0.5em;
    border-radius: 0.5em;
}

.list {
    margin-top: 3em;
}

.divider {
    opacity: 0;
    transition: opacity 0s linear 0.25s;
    background-color: transparent;
}

.divider:hover {
    opacity: 1;
    background-color: rgb(36, 159, 224);
}

.divider:hover:active {
    background-color: rgb(36, 159, 224, 0.5);
}