.root {
    display: flex;
    align-items: center;
    height: 3em;
    flex: 1;
    background-color: lightgray;
    margin: 0.5em;
    border-radius: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}