.root {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--heading-color);
}

.root>* {
    border-bottom: 1px solid var(--border-color);
}

.row {
    display: flex;
    align-items: center;
    min-height: 3em;
    flex: 1;
}