.root {
    display: flex;
    flex: 1;
}

.root.horizontal {
    flex-direction: column;
}

.root.vertical {
    flex-direction: row;
}

.pane {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
}

.divider {
    float: right;
    user-select: none;
    z-index: 1;
}

.divider:not(.visible) {
    display: none;
}

.divider.vertical {
    height: 100%;
    width: 0.5em;
    cursor: col-resize;
}

.divider.horizontal {
    width: 100%;
    height: 0.5em;
    cursor: row-resize;
}

.divider.dragging {
    position: relative;
    opacity: 0.5;
}