.root {
    display: flex;
    align-items: center;
}

.root>* {
    margin-left: 0.1em;
    margin-right: 0.1em;
}

.root>* {
    opacity: 0.3;
    transition: opacity 0.5s;
}

.root>*:hover {
    opacity: 1;
}