.root {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 1em;
    padding-top: 4em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.update {
    width: 10em;
    margin-top: 0.5em;
    align-self: flex-end;
}

.value {
    margin-top: 30px;
}