.root {
    display: flex;
    align-items: center;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid transparent;
    padding: 0.5em;
    cursor: pointer;
}

.root.first {
    border-top: 1px solid transparent;
}

.root.last {
    border-bottom: 1px solid darkgray;
}

.root.selected {
    background-color: white;
    filter: invert(100%);
}

.root:hover:not(.selected):not(.parent) {
    background-color: darkgray;
    filter: invert(100%);
}

.root:hover:active:not(.selected):not(.parent) {
    background-color: lightgray;
    filter: invert(100%);
}

.icon {
    width: 1.5em;
    height: 1.5em;
}

.label {
    user-select: none;
    flex: 1;
}