.tooltip {
    display: flex;
    align-self: stretch;
    position: absolute;
    height: 47px;
    background-color: var(--heading-color);
}

html[dir="ltr"] .tooltip {
    right: 0px;
}

html[dir="rtl"] .tooltip {
    left: 0px;
}

.button {
    align-self: stretch;
}