:root {
    --text-color: #000;
    --bg-color: #fff;
    --border-color: rgba(0, 0, 0, 0.12);
    --heading-color: lightgray;
    --hover-text: white;
    --hover-background: darkgray;
    --selected-text: white;
    --selected-background: black;
    --title-first-color: #8ec5fc;
    --title-second-color: #e0c3fc;
    --button-border-color: darkgray;
}

html[data-theme='dark'] {
    --primary-color: #536390;
    --secondary-color: #818cab;
    --text-color: #eee;
    --bg-color: #121212;
    --border-color: rgba(255, 255, 255, 0.12);
    --heading-color: #333;
    --hover-color: rgba(0, 168, 232, 1);
    --hover-background: darkgray;
    --selected-text: black;
    --selected-background: white;
    --hover-border: white;
    --title-first-color: #003459;
    --title-second-color: #0076b6;
    --button-border-color: lightgray;
}